<style>
    main {
        background-image: url("../../../assets/cover_image.jpg");
        background-size: 100%;
        background-size: cover;
    }
</style>
<main class="h-screen w-full">
    <div class="flex h-full justify-center items-center">
        <div class="w-1/2">
            <div
                class="flex h-full mx-auto w-3/5 justify-center flex-col rounded-lg  py-8 px-10 bg-slate-200 bg-opacity-70">
                <img src="../../../assets/logo.jpg" class="w-20 h-20 mx-auto">
                <h1 class="text-2xl text-center my-4">S'inscrire</h1>
                <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
                    @if (error != '') {
                    <p class="text-red-600 font-semibold text-xs">{{error}}</p>
                    }
                    <div class="sm:col-span-3 my-3">
                        <label for="firstname" class="block text-sm font-medium leading-6 text-gray-900">Nom</label>
                        <div class="mt-2">
                            <input type="text" formControlName="firstname" id="firstname" autocomplete="given-name"
                                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            @if (firstname?.invalid && (firstname?.dirty || firstname?.touched)) {
                            <p class="text-red-600 font-semibold text-xs">
                                @if (firstname?.errors?.['required']) {
                                Nom requis
                                } @else if (firstname?.errors?.['pattern']) {
                                Nom non valide
                                }
                            </p>
                            }
                        </div>
                    </div>
                    <div class="sm:col-span-3 my-3">
                        <label for="lastname" class="block text-sm font-medium leading-6 text-gray-900">Prénoms</label>
                        <div class="mt-2">
                            <input type="text" formControlName="lastname" id="lastname" autocomplete="given-name"
                                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            @if (lastname?.invalid && (lastname?.dirty || lastname?.touched)) {
                            <p class="text-red-600 font-semibold text-xs">
                                @if (lastname?.errors?.['required']) {
                                Prénoms requis
                                } @else if (lastname?.errors?.['pattern']) {
                                Prénoms non valide
                                }
                            </p>
                            }
                        </div>
                    </div>
                    <div class="sm:col-span-3 my-3">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                        <div class="mt-2">
                            <input type="email" formControlName="email" id="email" autocomplete="given-name"
                                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            @if (email?.invalid && (email?.dirty || email?.touched)) {
                            <p class="text-red-600 font-semibold text-xs">
                                @if (email?.errors?.['required']) {
                                Email requis
                                } @else if (email?.errors?.['email']) {
                                Email non valide
                                }
                            </p>
                            }
                        </div>
                    </div>
                    <div class="sm:col-span-3 my-3">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Mot de
                            passe</label>
                        <div class="mt-2">
                            <input type="password" formControlName="password" id="password" autocomplete="given-name"
                                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            @if (password?.invalid && (password?.dirty || password?.touched)) {
                            <p class="text-red-600 font-semibold text-xs">
                                @if (password?.errors?.['required']) {
                                Mot de passe requis
                                } @else if (password?.errors?.['minlength']) {
                                Mot de passe trop court
                                } </p>
                            }
                        </div>
                    </div>
                    <div class="sm:col-span-3 my-3">
                        <label for="passwordConfirmation"
                            class="block text-sm font-medium leading-6 text-gray-900">Confirmez votre mot
                            de passe</label>
                        <div class="mt-2">
                            <input type="password" formControlName="passwordConfirmation" id="passwordConfirmation"
                                autocomplete="given-name"
                                class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <p class="text-red-600 font-semibold text-xs">
                                @if (passwordConfirmation?.invalid && (passwordConfirmation?.dirty ||
                                passwordConfirmation?.touched)) {
                                @if (passwordConfirmation?.errors?.['required']) {
                                Mot de passe de confirmation requis
                                }
                                }
                                @else if(signupForm.errors?.['PasswordNoMatch']){
                                Les mots de passes ne correspondent pas
                                }
                            </p>
                        </div>
                    </div>
                    <div class="sm:col-span-3 my-3">
                        <a href="/login" class="text-blue-500 underline">
                            <p class="text-right">
                                J'ai déjà un compte </p>
                        </a>
                    </div>
                    <div class="sm:col-span-3 my-3">
                        <button type="submit" [disabled]="signupForm.invalid"
                            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            @if (loading) {
                            ...
                            } @else {
                            Inscription
                            }
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="w-1/2">

        </div>
    </div>
</main>