<div class="modal">
    <h3 class="text-xl font-semibold">Nouvelle tache</h3>
    <form [formGroup]="taskForm">
        <div class=" sm:col-span-3 my-3">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Service</mat-label>
                <mat-select formControlName="selectField">
                    <mat-option [value]="1">Manucure  (45 minutes)</mat-option>
                    <mat-option [value]="2">Pedicure  (45 minutes)</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="text-red-600 font-semibold text-xs">
                @if (service?.invalid && (service?.dirty ||
                service?.touched)) {
                @if (service?.errors?.['required']) {
                Date de rendez-vous requise
                }
                }
            </p>
        </div>
        <div class=" sm:col-span-3 my-3">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Employe</mat-label>
                <mat-select formControlName="selectField">
                    <mat-option [value]="1">John Doe (disponnible dans 45 minutes)</mat-option>
                    <mat-option [value]="2">Jeanne Doe</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="text-red-600 font-semibold text-xs">
                @if (service?.invalid && (service?.dirty ||
                service?.touched)) {
                @if (service?.errors?.['required']) {
                Date de rendez-vous requise
                }
                }
            </p>
        </div>
        <div class=" sm:col-span-3 my-3">
            <button mat-raised-button color="primary">Enregistrer</button>
        </div>
    </form>
</div>