<div class="flex flex-row justify-between items-center rounded px-6 py-4 border bg-blue-300">
    <lucide-icon name="grip-vertical" class="cursor-grabbing"></lucide-icon>
    <div class=" flex flex-row justify-between items-center w-11/12">
        <div class="">
            <p class="text-lg">
                {{service}}
            </p>
            <p class="text-sm text-gray-500">
                {{taskDate}}
            </p>
        </div>
        <div class="flex flex-row text-md h-full gap-3">
            <lucide-icon name="user-round"></lucide-icon> {{employee}}
        </div>
        <div class="flex flex-row text-md h-full gap-3">
            <lucide-icon name="hourglass"></lucide-icon>
            {{taskTime}}
        </div>
    </div>
</div>